:root {
    --base-color: #575656;
    --text-color: #ffffff;
    --background-color: #181818;
    --border-color: #1bac08;
    --highlight-color: #a8a8a8;
    --employee-color: #ffa500;
    --intern-color: lightgreen;
    --gap-size: 1em;
}

body {
    font-size: large;
    background-color: var(--background-color);
}

p, h1 {
    color: var(--text-color);
}

#main-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

#top-bar {
    border: 1px solid var(--border-color);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-bar-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    color: var(--text-color);
}

#main-area {
    display: grid;
    grid-template-columns: repeat(3, minmax(500px, 1fr));
    gap: var(--gap-size);
}

.employee-card {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--base-color);
    display: flex;
    position: relative;
}

.employee-card:hover {
    /* à remplacer */
    background-color: var(--highlight-color);
}

.employee-card:hover button {
    visibility: visible;
}

.info-button {
    visibility: hidden;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.employee-info {
    margin: 5px;
}

.employee-card>img {
    width: 200px;
    height: 200px;
    align-items: left;
}

.position {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}